asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
Django==4.2.7
django-cors-headers==4.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
idna==3.4
importlib-metadata==6.8.0
linkify-it-py==2.0.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
Pygments==2.16.1
PyJWT==2.8.0
pytz==2023.3.post1
requests==2.31.0
rich==13.6.0
sqlparse==0.4.4
textual==0.41.0
textual-inputs==0.2.0
typing_extensions==4.8.0
uc-micro-py==1.0.2
urllib3==2.1.0
zipp==3.17.0
